---
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout title="404 Error">
  <div
    class="max-w-5xl mx-auto px-4 h-[calc(100vh-14rem)] flex flex-col justify-center items-center gap-2"
  >
    <h1 class="text-slate-100 text-5xl font-bold">404</h1>
    <p>This page was not found.</p>
  </div>
</RootLayout>
