---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="404 Error">
  <div
    class="max-w-3xl mx-auto px-4 h-[calc(100vh-8.5rem)] flex flex-col justify-center items-center text-center gap-4"
  >
    <h1 class="text-neutral-900 text-7xl font-bold">404</h1>
    <h5 class="font-medium">{`UH OH! You're lost.`}</h5>
    <p class="max-w-prose text-sm">
      {
        `The page you are looking for does not exist. How you got here is a mystery. You can click the button below to go back to the homepage.`
      }
    </p>

    <a
      href="/"
      class="px-4 py-2 rounded-md font-semibold bg-neutral-800 text-neutral-200"
      >Return to Home</a
    >
  </div>
</RootLayout>
