---
import RootLayout from "../layouts/RootLayout.astro";
import Section from "../components/Section/Section.astro";
import SectionContent from "../components/Section/SectionContent.astro";
import SectionTitle from "../components/Section/SectionTitle.astro";
import MaxWidth from "../components/MaxWidth.astro";
---

<RootLayout>
  <Section>
    <MaxWidth>
      <SectionTitle>Contact Me</SectionTitle>
      <SectionContent>
        <div class="max-w-prose mx-auto text-center">
          <p>
            {
              `I'm actively seeking a web developer role that challenges me to grow,
              collaborate, and make a meaningful impact. If you're looking for a
              dedicated developer ready to bring fresh ideas to the table, let's
              connect and explore the possibilities together.`
            }
          </p>
          <h5 class="font-medium text-neutral-100 mt-4">
            The best way to reach me is by email at{" "}
            <a
              href="mailto:prawishbiharie@gmail.com"
              class="text-amber-400 hover:underline"
            >
              prawishbiharie@gmail.com
            </a>
          </h5>
        </div>
      </SectionContent>
    </MaxWidth>
  </Section>
</RootLayout>
