---
import { Image } from "astro:assets";
import RootLayout from "../layouts/root-layout.astro";
import PortfolioCover from "../../public/portfolio-cover.png";
import Skill from "../components/Skill";
---

<RootLayout title="Prawish Biharie">
  <!-- Hero -->
  <section
    id="hero"
    class="max-w-3xl mx-auto px-4 h-[calc(100vh-5rem)] w-full flex flex-col items-center justify-center text-center gap-4"
  >
    <div class="max-w-prose">
      <h1 class="text-stone-100 text-5xl font-bold">Prawish Biharie</h1>
      <h3 class="mt-4">
        Electrical engineer turned software pro. Bridging hardware-software gap,
        embracing innovation through continuous learning.
      </h3>
    </div>

    <div class="flex items-center gap-8 py-2 text-sm">
      <div class="flex items-center gap-2">
        <span class="w-2 h-2 rounded-full bg-gray-600"></span>
        <h5 class="font-semibold">Full Stack Developer</h5>
      </div>
      <div class="flex items-center gap-2">
        <span class="w-2 h-2 rounded-full bg-amber-600"></span>
        <p class="font-semibold">Available for work</p>
      </div>
    </div>
  </section>

  <div class="bg-stone-950 px-4">
    <section id="about" class="max-w-3xl mx-auto py-16 h-full w-full">
      <div class="text-center flex flex-col gap-8">
        <h3 class="text-3xl font-semibold text-stone-200">About</h3>
        <p>
          {
            `Hello, I'm Prawish Biharie, a seasoned professional who made a smooth transition from electrical engineering to software engineering, capitalizing on my 3+ years of experience. My background equips me with an analytical mindset and strong problem-solving skills, which I honed in electrical engineering, giving me a unique edge in crafting innovative solutions that bridge the gap between hardware and software realms.`
          }
        </p>
        <p>
          {
            `With an unwavering passion for continuous learning, I constantly explore new methodologies, languages, and tools to stay at the forefront of the dynamic software landscape. This proactive approach ensures that my skills remain finely tuned and pertinent, allowing me to offer fresh perspectives and tackle challenges effectively in this ever-evolving field.`
          }
        </p>
      </div>
    </section>

    <section id="skills" class="max-w-3xl mx-auto py-16 h-full w-full">
      <div class="text-center flex flex-col gap-8">
        <h3 class="text-3xl font-semibold text-stone-200 mb-4">Skills</h3>

        <ul class="flex flex-wrap justify-center gap-4">
          <li><Skill>HTML</Skill></li>
          <li><Skill>CSS</Skill></li>
          <li><Skill>Javascript</Skill></li>
          <li><Skill>Typescript</Skill></li>
          <li><Skill>React</Skill></li>
          <li><Skill>Next.js</Skill></li>
          <li><Skill>Astro</Skill></li>
          <li><Skill>Node.js</Skill></li>
          <li><Skill>TailwindCSS</Skill></li>
          <li><Skill>Express</Skill></li>
          <li><Skill>PostgreSQL</Skill></li>
        </ul>
      </div>
    </section>

    <section id="projects" class="max-w-3xl mx-auto py-16 h-full w-full">
      <div class="text-center flex flex-col gap-8">
        <div class="">
          <h3 class="text-3xl font-semibold text-stone-200 mb-4">Projects</h3>
          <p class="text-sm">
            These are some of my top projects. To see all my projects, visit my
            github profile
          </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="bg-stone-800 w-full aspect-video rounded-md"></div>
          <div class="bg-stone-800 w-full aspect-video rounded-md"></div>
          <div class="bg-stone-800 w-full aspect-video rounded-md"></div>
          <div class="bg-stone-800 w-full aspect-video rounded-md"></div>
        </div>
      </div>
    </section>

    <!-- Experiences -->
  </div>
</RootLayout>
