---
type Props = {
  variant?: "primary" | "secondary";
};

const { variant = "primary", ...rest } = Astro.props as Props;

const className = {
  primary:
    "bg-amber-200 text-amber-900 rounded-md py-2 w-full text-center font-medium",
  secondary:
    "bg-green-200 text-green-900 rounded-md py-2 w-full text-center font-medium",
};
---

<div {...rest}>
  <div class={className[variant]}><slot /></div>
</div>
