---
const { title } = Astro.props;

import Header from "../components/Header";
import Footer from "../components/Footer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body
    class="bg-neutral-900 text-neutral-400 antialiased min-h-screen flex flex-col"
  >
    <Header client:load />
    <div class="flex-1 pt-20">
      <slot />
    </div>
    <Footer />
  </body>
</html>
